PORT=5000
# DB_URL=jdbc:postgresql://localhost:5432/prostuti
DB_URL=neon_db_url
DB_USER=username
DB_PASSWORD=password
JWT_SECRET=token_secret
BOOTSTRAP_TOKEN=token_bootstrap
ANDROID_GOOGLE_CLIENT_ID=id
WEB_GOOGLE_CLIENT_ID=id
WEB_GOOGLE_CLIENT_SECRET=secret